In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df_test = pd.read_csv("test (1).csv")

In [6]:
df_train = pd.read_csv("train (1).csv")

In [7]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [8]:
df_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [9]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [10]:
train = df_train.drop(columns = ["Alley","MasVnrType","FireplaceQu","PoolQC","Fence","MiscFeature","Id","MSSubClass","MSZoning","LotFrontage","Utilities","LotConfig","Exterior2nd","MasVnrType","MasVnrArea","Foundation","BsmtFinType1","BsmtFinSF1","BsmtFinType2","BsmtFinSF2","BsmtUnfSF","LowQualFinSF","GrLivArea","BsmtFullBath","BsmtHalfBath","FullBath","HalfBath","KitchenQual","TotRmsAbvGrd","Functional","GarageType","GarageYrBlt","GarageFinish","GarageCars","GarageArea","GarageQual","GarageCond","PavedDrive","WoodDeckSF","OpenPorchSF","EnclosedPorch","3SsnPorch","ScreenPorch","PoolQC","Fence","MiscFeature","MiscVal","MoSold","SaleType","SaleCondition"])

In [11]:
train

,LotArea,Street,LotShape,LandContour,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,...,CentralAir,Electrical,1stFlrSF,2ndFlrSF,BedroomAbvGr,KitchenAbvGr,Fireplaces,PoolArea,YrSold,SalePrice
0,8450,Pave,Reg,Lvl,Gtl,CollgCr,Norm,Norm,1Fam,2Story,...,Y,SBrkr,856,854,3,1,0,0,2008,208500
1,9600,Pave,Reg,Lvl,Gtl,Veenker,Feedr,Norm,1Fam,1Story,...,Y,SBrkr,1262,0,3,1,1,0,2007,181500
2,11250,Pave,IR1,Lvl,Gtl,CollgCr,Norm,Norm,1Fam,2Story,...,Y,SBrkr,920,866,3,1,1,0,2008,223500
3,9550,Pave,IR1,Lvl,Gtl,Crawfor,Norm,Norm,1Fam,2Story,...,Y,SBrkr,961,756,3,1,1,0,2006,140000
4,14260,Pave,IR1,Lvl,Gtl,NoRidge,Norm,Norm,1Fam,2Story,...,Y,SBrkr,1145,1053,4,1,1,0,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,Pave,Reg,Lvl,Gtl,Gilbert,Norm,Norm,1Fam,2Story,...,Y,SBrkr,953,694,3,1,1,0,2007,175000
1456,13175,Pave,Reg,Lvl,Gtl,NWAmes,Norm,Norm,1Fam,1Story,...,Y,SBrkr,2073,0,3,1,2,0,2010,210000
1457,9042,Pave,Reg,Lvl,Gtl,Crawfor,Norm,Norm,1Fam,2Story,...,Y,SBrkr,1188,1152,4,1,2,0,2010,266500
1458,9717,Pave,Reg,Lvl,Gtl,NAmes,Norm,Norm,1Fam,1Story,...,Y,FuseA,1078,0,2,1,0,0,2010,142125
1459,9937,Pave,Reg,Lvl,Gtl,Edwards,Norm,Norm,1Fam,1Story,...,Y,SBrkr,1256,0,3,1,0,0,2008,147500

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   Street        1460 non-null   object
 2   LotShape      1460 non-null   object
 3   LandContour   1460 non-null   object
 4   LandSlope     1460 non-null   object
 5   Neighborhood  1460 non-null   object
 6   Condition1    1460 non-null   object
 7   Condition2    1460 non-null   object
 8   BldgType      1460 non-null   object
 9   HouseStyle    1460 non-null   object
 10  OverallQual   1460 non-null   int64
 11  OverallCond   1460 non-null   int64
 12  YearBuilt     1460 non-null   int64
 13  YearRemodAdd  1460 non-null   int64
 14  RoofStyle     1460 non-null   object
 15  RoofMatl      1460 non-null   object
 16  Exterior1st   1460 non-null   object
 17  ExterQual     1460 non-null   object
 18  ExterCond     1460 non-null   object
 19  BsmtQual      1423 non-null   object
 20  BsmtCond      1423 non-null   object
 21  BsmtExposure  1422 non-null   object
 22  TotalBsmtSF   1460 non-null   int64
 23  Heating       1460 non-null   object
 24  HeatingQC     1460 non-null   object
 25  CentralAir    1460 non-null   object
 26  Electrical    1459 non-null   object
 27  1stFlrSF      1460 non-null   int64
 28  2ndFlrSF      1460 non-null   int64
 29  BedroomAbvGr  1460 non-null   int64
 30  KitchenAbvGr  1460 non-null   int64
 31  Fireplaces    1460 non-null   int64
 32  PoolArea      1460 non-null   int64
 33  YrSold        1460 non-null   int64
 34  SalePrice     1460 non-null   int64
dtypes: int64(14), object(21)
memory usage: 399.3+ KB

In [13]:
def remove_null_object(column):
    for i in column:
        train[i] = train[i].fillna(train[i].mode()[0])
columns = ["BsmtQual","BsmtCond","BsmtExposure","Electrical"]
remove_null_object(columns)

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   Street        1460 non-null   object
 2   LotShape      1460 non-null   object
 3   LandContour   1460 non-null   object
 4   LandSlope     1460 non-null   object
 5   Neighborhood  1460 non-null   object
 6   Condition1    1460 non-null   object
 7   Condition2    1460 non-null   object
 8   BldgType      1460 non-null   object
 9   HouseStyle    1460 non-null   object
 10  OverallQual   1460 non-null   int64
 11  OverallCond   1460 non-null   int64
 12  YearBuilt     1460 non-null   int64
 13  YearRemodAdd  1460 non-null   int64
 14  RoofStyle     1460 non-null   object
 15  RoofMatl      1460 non-null   object
 16  Exterior1st   1460 non-null   object
 17  ExterQual     1460 non-null   object
 18  ExterCond     1460 non-null   object
 19  BsmtQual      1460 non-null   object
 20  BsmtCond      1460 non-null   object
 21  BsmtExposure  1460 non-null   object
 22  TotalBsmtSF   1460 non-null   int64
 23  Heating       1460 non-null   object
 24  HeatingQC     1460 non-null   object
 25  CentralAir    1460 non-null   object
 26  Electrical    1460 non-null   object
 27  1stFlrSF      1460 non-null   int64
 28  2ndFlrSF      1460 non-null   int64
 29  BedroomAbvGr  1460 non-null   int64
 30  KitchenAbvGr  1460 non-null   int64
 31  Fireplaces    1460 non-null   int64
 32  PoolArea      1460 non-null   int64
 33  YrSold        1460 non-null   int64
 34  SalePrice     1460 non-null   int64
dtypes: int64(14), object(21)
memory usage: 399.3+ KB

In [15]:
from sklearn.preprocessing import LabelEncoder

In [22]:
def convert_object_to_int(column):
    for i in column:
        df_label_encoder = LabelEncoder()
        train[i] = df_label_encoder.fit_transform(train[i])
columns = ["Street","LotShape","LandContour","LandSlope","Neighborhood","Condition1","Condition2","BldgType","HouseStyle","RoofStyle","RoofMatl","Exterior1st","ExterQual","ExterCond","BsmtQual","BsmtCond","BsmtExposure","Heating","HeatingQC","CentralAir","Electrical"]
convert_object_to_int(columns)

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1460 non-null   int64
 1   Street        1460 non-null   int64
 2   LotShape      1460 non-null   int64
 3   LandContour   1460 non-null   int64
 4   LandSlope     1460 non-null   int64
 5   Neighborhood  1460 non-null   int64
 6   Condition1    1460 non-null   int64
 7   Condition2    1460 non-null   int64
 8   BldgType      1460 non-null   int64
 9   HouseStyle    1460 non-null   int64
 10  OverallQual   1460 non-null   int64
 11  OverallCond   1460 non-null   int64
 12  YearBuilt     1460 non-null   int64
 13  YearRemodAdd  1460 non-null   int64
 14  RoofStyle     1460 non-null   int64
 15  RoofMatl      1460 non-null   int64
 16  Exterior1st   1460 non-null   int64
 17  ExterQual     1460 non-null   int64
 18  ExterCond     1460 non-null   int64
 19  BsmtQual      1460 non-null   int64
 20  BsmtCond      1460 non-null   int64
 21  BsmtExposure  1460 non-null   int64
 22  TotalBsmtSF   1460 non-null   int64
 23  Heating       1460 non-null   int32
 24  HeatingQC     1460 non-null   int32
 25  CentralAir    1460 non-null   int32
 26  Electrical    1460 non-null   int32
 27  1stFlrSF      1460 non-null   int64
 28  2ndFlrSF      1460 non-null   int64
 29  BedroomAbvGr  1460 non-null   int64
 30  KitchenAbvGr  1460 non-null   int64
 31  Fireplaces    1460 non-null   int64
 32  PoolArea      1460 non-null   int64
 33  YrSold        1460 non-null   int64
 34  SalePrice     1460 non-null   int64
dtypes: int32(4), int64(31)
memory usage: 376.5 KB

In [24]:
train

,LotArea,Street,LotShape,LandContour,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,...,CentralAir,Electrical,1stFlrSF,2ndFlrSF,BedroomAbvGr,KitchenAbvGr,Fireplaces,PoolArea,YrSold,SalePrice
0,8450,1,3,3,0,5,2,2,0,5,...,1,4,856,854,3,1,0,0,2008,208500
1,9600,1,3,3,0,24,1,2,0,2,...,1,4,1262,0,3,1,1,0,2007,181500
2,11250,1,0,3,0,5,2,2,0,5,...,1,4,920,866,3,1,1,0,2008,223500
3,9550,1,0,3,0,6,2,2,0,5,...,1,4,961,756,3,1,1,0,2006,140000
4,14260,1,0,3,0,15,2,2,0,5,...,1,4,1145,1053,4,1,1,0,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,1,3,3,0,8,2,2,0,5,...,1,4,953,694,3,1,1,0,2007,175000
1456,13175,1,3,3,0,14,2,2,0,2,...,1,4,2073,0,3,1,2,0,2010,210000
1457,9042,1,3,3,0,6,2,2,0,5,...,1,4,1188,1152,4,1,2,0,2010,266500
1458,9717,1,3,3,0,12,2,2,0,2,...,1,0,1078,0,2,1,0,0,2010,142125
1459,9937,1,3,3,0,7,2,2,0,2,...,1,4,1256,0,3,1,0,0,2008,147500

In [60]:
x = train.iloc[:,:34]

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
x

,LotArea,Street,LotShape,LandContour,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,...,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,BedroomAbvGr,KitchenAbvGr,Fireplaces,PoolArea,YrSold
0,8450,1,3,3,0,5,2,2,0,5,...,0,1,4,856,854,3,1,0,0,2008
1,9600,1,3,3,0,24,1,2,0,2,...,0,1,4,1262,0,3,1,1,0,2007
2,11250,1,0,3,0,5,2,2,0,5,...,0,1,4,920,866,3,1,1,0,2008
3,9550,1,0,3,0,6,2,2,0,5,...,2,1,4,961,756,3,1,1,0,2006
4,14260,1,0,3,0,15,2,2,0,5,...,0,1,4,1145,1053,4,1,1,0,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,1,3,3,0,8,2,2,0,5,...,0,1,4,953,694,3,1,1,0,2007
1456,13175,1,3,3,0,14,2,2,0,2,...,4,1,4,2073,0,3,1,2,0,2010
1457,9042,1,3,3,0,6,2,2,0,5,...,0,1,4,1188,1152,4,1,2,0,2010
1458,9717,1,3,3,0,12,2,2,0,2,...,2,1,0,1078,0,2,1,0,0,2010
1459,9937,1,3,3,0,7,2,2,0,2,...,2,1,4,1256,0,3,1,0,0,2008

In [48]:
y = train["SalePrice"]

In [49]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [26]:
model1 = RandomForestClassifier()

In [50]:
model1.fit(x,y)

RandomForestClassifier()

In [51]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [52]:
test = df_test.drop(columns = ["Alley","MasVnrType","FireplaceQu","PoolQC","Fence","MiscFeature","Id","MSSubClass","MSZoning","LotFrontage","Utilities","LotConfig","Exterior2nd","MasVnrType","MasVnrArea","Foundation","BsmtFinType1","BsmtFinSF1","BsmtFinType2","BsmtFinSF2","BsmtUnfSF","LowQualFinSF","GrLivArea","BsmtFullBath","BsmtHalfBath","FullBath","HalfBath","KitchenQual","TotRmsAbvGrd","Functional","GarageType","GarageYrBlt","GarageFinish","GarageCars","GarageArea","GarageQual","GarageCond","PavedDrive","WoodDeckSF","OpenPorchSF","EnclosedPorch","3SsnPorch","ScreenPorch","PoolQC","Fence","MiscFeature","MiscVal","MoSold","SaleType","SaleCondition"])

In [56]:
def remove_null_object(column):
    for i in column:
        test[i] = test[i].fillna(test[i].mode()[0])
columns = ["BsmtQual","BsmtCond","BsmtExposure","Electrical","TotalBsmtSF"]
remove_null_object(columns)

In [57]:
def convert_object_to_int(column):
    for i in column:
        df_label_encoder = LabelEncoder()
        test[i] = df_label_encoder.fit_transform(test[i])
columns = ["Street","LotShape","LandContour","LandSlope","Neighborhood","Condition1","Condition2","BldgType","HouseStyle","RoofStyle","RoofMatl","Exterior1st","ExterQual","ExterCond","BsmtQual","BsmtCond","BsmtExposure","Heating","HeatingQC","CentralAir","Electrical","TotalBsmtSF"]
convert_object_to_int(columns)

In [58]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1459 non-null   int64
 1   Street        1459 non-null   int64
 2   LotShape      1459 non-null   int64
 3   LandContour   1459 non-null   int64
 4   LandSlope     1459 non-null   int64
 5   Neighborhood  1459 non-null   int64
 6   Condition1    1459 non-null   int64
 7   Condition2    1459 non-null   int64
 8   BldgType      1459 non-null   int64
 9   HouseStyle    1459 non-null   int64
 10  OverallQual   1459 non-null   int64
 11  OverallCond   1459 non-null   int64
 12  YearBuilt     1459 non-null   int64
 13  YearRemodAdd  1459 non-null   int64
 14  RoofStyle     1459 non-null   int64
 15  RoofMatl      1459 non-null   int64
 16  Exterior1st   1459 non-null   int64
 17  ExterQual     1459 non-null   int64
 18  ExterCond     1459 non-null   int64
 19  BsmtQual      1459 non-null   int64
 20  BsmtCond      1459 non-null   int64
 21  BsmtExposure  1459 non-null   int64
 22  TotalBsmtSF   1459 non-null   int64
 23  Heating       1459 non-null   int64
 24  HeatingQC     1459 non-null   int64
 25  CentralAir    1459 non-null   int64
 26  Electrical    1459 non-null   int64
 27  1stFlrSF      1459 non-null   int64
 28  2ndFlrSF      1459 non-null   int64
 29  BedroomAbvGr  1459 non-null   int64
 30  KitchenAbvGr  1459 non-null   int64
 31  Fireplaces    1459 non-null   int64
 32  PoolArea      1459 non-null   int64
 33  YrSold        1459 non-null   int64
dtypes: int64(34)
memory usage: 387.7 KB

In [63]:
y_pred = model1.predict(test)
# Calculate RMSE

In [68]:
# Id,SalePrice

te = pd.read_csv("test (1).csv")
te['Id']

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, Length: 1459, dtype: int64

In [69]:
submission = pd.DataFrame({'Id':te['Id'],'SalePrice':y_pred})

In [70]:
submission.to_csv('submitted.csv',index=False)